main{
  display:grid;
  margin:0;
  grid-template-columns:30% 40% 30%;
  grid-template-rows: 150px 700px;
  grid-template-areas: "hd hd hd"
                       "ts p  sn";
}
#header{
  grid-area:hd;
}
#teamsearch{
  grid-area:ts;
  display:inline;
}
#post{
  grid-area: p;
  overflow:scroll;
}
#sport_feed{
  grid-area:sn;
  overflow:scroll;
}
#messagebox{
  width:100%;
}
#message{
  width:85%;
  height:30px;
}
main > *{
    padding:5px;
}
#searchText{
  width:80%;
}
.chat{
  margin-bottom:20px;
}
.chatUser{
  font-size: 30px;
  font-style:italic;
  font-weight:bold;
  margin:0;
  padding:0;
}
.chatMessage{
  font-size:30px;
  font-style:oblique;
  margin:0;
  padding:0;
}
